Repository Kawasaki-Robotics/khi_ros2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_lint_cmake, ament_cppcheck, ament_cpplint, ament_copyright

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Feat: Add RS013N-A001
  README.md
  khi_description/config/rs/rs013n-a001/joint_limits.yaml
  khi_description/config/rs/rs013n-a001/mechanical_parameters.yaml
  khi_description/meshes/rs/rs013n-a001/J0.stl
  khi_description/meshes/rs/rs013n-a001/J1.stl
  khi_description/meshes/rs/rs013n-a001/J2.stl
  khi_description/meshes/rs/rs013n-a001/J3.stl
  khi_description/meshes/rs/rs013n-a001/J4.stl
  khi_description/meshes/rs/rs013n-a001/J5.stl
  khi_description/meshes/rs/rs013n-a001/J6.stl
  khi_gazebo/launch/khi_gazebo.launch.py
  khi_hardware/launch/khi_bringup.launch.py
  khi_moveit/launch/khi_moveit.launch.py
Due: ament_copyright

Feat: Add support for reading data from ATI Force/Torque sensor
  khi_description/config/bx/khi_controllers.yaml
  khi_description/config/bxp/khi_controllers.yaml
  khi_description/config/rs/khi_controllers.yaml
  khi_description/urdf/bx/khi.ros2_control.xacro
  khi_description/urdf/bxp/khi.ros2_control.xacro
  khi_description/urdf/khi_sensor.xacro
  khi_description/urdf/rs/khi.ros2_control.xacro
  khi_hardware/include/khi_hardware/khi_driver.hpp
  khi_hardware/include/khi_hardware/khi_krnx_driver.hpp
  khi_hardware/include/khi_hardware/khi_mock_driver.hpp
  khi_hardware/include/khi_hardware/khi_robot.hpp
  khi_hardware/include/khi_hardware/khi_service.hpp
  khi_hardware/launch/khi_bringup.launch.py
  khi_hardware/src/khi_hardware_interface.cpp
  khi_hardware/src/khi_krnx_driver.cpp
  khi_hardware/src/khi_service.cpp
  khi_msgs/CMakeLists.txt
  khi_msgs/srv/ChangeFTOutputMode.srv
  khi_msgs/srv/SetATISoftwareBias.srv
Due: ament_lint_cmake, ament_cppcheck, ament_cpplint, ament_copyright

Feat: Update Krnx library to Ver.3.3.0
  khi_hardware/lib/aarch64/libkrnx-aarch64.so.3.1.0
  khi_hardware/lib/aarch64/libkrnx-aarch64.so.3.3.0
  khi_hardware/lib/aarch64/libkrnx.so
  khi_hardware/lib/armel/libkrnx-armel.so.3.1.0
  khi_hardware/lib/armel/libkrnx-armel.so.3.3.0
  khi_hardware/lib/armel/libkrnx.so
  khi_hardware/lib/armhf/libkrnx-armhf.so.3.1.0
  khi_hardware/lib/armhf/libkrnx-armhf.so.3.3.0
  khi_hardware/lib/armhf/libkrnx.so
  khi_hardware/lib/i386/libkrnx-i386.so.3.1.0
  khi_hardware/lib/i386/libkrnx-i386.so.3.3.0
  khi_hardware/lib/i386/libkrnx.so
  khi_hardware/lib/x86_64/libkrnx-x86_64.so.3.1.0
  khi_hardware/lib/x86_64/libkrnx-x86_64.so.3.3.0
  khi_hardware/lib/x86_64/libkrnx.so
Due: ament_copyright

Feat: Detect errors caused by executing the robot program
  khi_hardware/src/khi_krnx_driver.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Feat: Reset error after turning the motors ON
  khi_hardware/src/khi_krnx_driver.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Feat: Add duAro2 (wd003h-f502)
  README.md
  khi_description/config/update_rate/f_duaro_controller_update_rate.yaml
  khi_description/config/wd/khi_controllers.yaml
  khi_description/config/wd/wd003h-f502/initial_positions.yaml
  khi_description/config/wd/wd003h-f502/joint_limits.yaml
  khi_description/config/wd/wd003h-f502/mechanical_parameters.yaml
  khi_description/meshes/wd/wd003h-f502/Cart.stl
  khi_description/meshes/wd/wd003h-f502/J0.stl
  khi_description/meshes/wd/wd003h-f502/J1L.stl
  khi_description/meshes/wd/wd003h-f502/J1U.stl
  khi_description/meshes/wd/wd003h-f502/J2L.stl
  khi_description/meshes/wd/wd003h-f502/J2U.stl
  khi_description/meshes/wd/wd003h-f502/J3L.stl
  khi_description/meshes/wd/wd003h-f502/J3L_Mimic1.stl
  khi_description/meshes/wd/wd003h-f502/J3L_Mimic2.stl
  khi_description/meshes/wd/wd003h-f502/J3U.stl
  khi_description/meshes/wd/wd003h-f502/J3U_Mimic1.stl
  khi_description/meshes/wd/wd003h-f502/J3U_Mimic2.stl
  khi_description/meshes/wd/wd003h-f502/J4L.stl
  khi_description/meshes/wd/wd003h-f502/J4U.stl
  khi_description/srdf/wd/khi_macro.srdf.xacro
  khi_description/urdf/wd/get_joint_limits.xacro
  khi_description/urdf/wd/get_mechanical_parameters.xacro
  khi_description/urdf/wd/khi.ros2_control.xacro
  khi_description/urdf/wd/khi_joint_link.xacro
  khi_gazebo/launch/khi_gazebo.launch.py
  khi_hardware/include/khi_hardware/khi_krnx_driver.hpp
  khi_hardware/launch/khi_bringup.launch.py
  khi_hardware/src/khi_krnx_driver.cpp
  khi_moveit/config/wd/controllers.yaml
  khi_moveit/config/wd/kinematics.yaml
  khi_moveit/config/wd/ompl_planning.yaml
  khi_moveit/launch/khi_moveit.launch.py
Due: ament_cppcheck, ament_cpplint, ament_copyright

Feat: Add BXP210L-A001
  khi_description/config/bxp/bxp210l-a001/joint_limits.yaml
  khi_description/config/bxp/bxp210l-a001/mechanical_parameters.yaml
  khi_description/meshes/bxp/bxp210l-a001/J0.stl
  khi_description/meshes/bxp/bxp210l-a001/J1.stl
  khi_description/meshes/bxp/bxp210l-a001/J2.stl
  khi_description/meshes/bxp/bxp210l-a001/J3.stl
  khi_description/meshes/bxp/bxp210l-a001/J4.stl
  khi_description/meshes/bxp/bxp210l-a001/J5.stl
  khi_description/meshes/bxp/bxp210l-a001/J6.stl
  khi_gazebo/launch/khi_gazebo.launch.py
  khi_hardware/launch/khi_bringup.launch.py
  khi_moveit/launch/khi_moveit.launch.py
Due: ament_copyright

Fix: Error not always reporting
  khi_hardware/src/khi_publisher.cpp
  khi_msgs/CMakeLists.txt
  khi_msgs/msg/ErrorInfo.msg
Due: ament_lint_cmake, ament_cppcheck, ament_cpplint, ament_copyright

Docs: Add BXP210L-A001 to supported robots list
  README.md
Due: ament_copyright

Fix: Remove CHOMP from planning pipelines configuration
  khi_moveit/config/planning_pipelines.yaml
Due: ament_copyright

add support for jazzy
  khi_description/urdf/rs/khi.ros2_control.xacro
  khi_gazebo/package.xml
  khi_hardware/src/khi_hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

feat: update Krnx library to Ver.3.4.0
  khi_hardware/include/khi_hardware/krnx.h
  khi_hardware/lib/aarch64/libkrnx-aarch64.so.3.3.0
  khi_hardware/lib/aarch64/libkrnx-aarch64.so.3.4.0
  khi_hardware/lib/aarch64/libkrnx.so
  khi_hardware/lib/armel/libkrnx-armel.so.3.3.0
  khi_hardware/lib/armel/libkrnx-armel.so.3.4.0
  khi_hardware/lib/armel/libkrnx.so
  khi_hardware/lib/armhf/libkrnx-armhf.so.3.3.0
  khi_hardware/lib/armhf/libkrnx-armhf.so.3.4.0
  khi_hardware/lib/armhf/libkrnx.so
  khi_hardware/lib/i386/libkrnx-i386.so.3.3.0
  khi_hardware/lib/i386/libkrnx-i386.so.3.4.0
  khi_hardware/lib/i386/libkrnx.so
  khi_hardware/lib/x86_64/libkrnx-x86_64.so.3.3.0
  khi_hardware/lib/x86_64/libkrnx-x86_64.so.3.4.0
  khi_hardware/lib/x86_64/libkrnx.so
Due: ament_cppcheck, ament_copyright

improve: optimize Hold and motor on/off handling using KRNX_DEV_3.4.0 APIs
  khi_hardware/src/khi_krnx_driver.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: republish error info when the same error occurs after being cleared
  khi_hardware/src/khi_publisher.cpp
  khi_msgs/CMakeLists.txt
  khi_msgs/msg/ErrorInfo.msg
Due: ament_lint_cmake, ament_cppcheck, ament_cpplint, ament_copyright

fix: ROS2 Jazzy compatibility fixes
  khi_description/urdf/bx/khi.ros2_control.xacro
  khi_description/urdf/bxp/khi.ros2_control.xacro
  khi_description/urdf/rs/khi.ros2_control.xacro
  khi_description/urdf/wd/khi.ros2_control.xacro
  khi_hardware/launch/khi_bringup.launch.py
  khi_hardware/src/khi_hardware_interface.cpp
  khi_moveit/config/planning_pipelines.yaml
  khi_moveit/launch/khi_moveit.launch.py
Due: ament_cppcheck, ament_cpplint, ament_copyright

update deprecated function calls
  khi_hardware/include/khi_hardware/khi_hardware_interface.hpp
  khi_hardware/src/khi_hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

feat: add Duaro (WD002N) robot description and Isaac Sim integration
  duaro_description/CMakeLists.txt
  duaro_description/README.md
  duaro_description/config/cartesian_limits.yaml
  duaro_description/config/controllers.yaml
  duaro_description/config/joint_limits.yaml
  duaro_description/config/kinematics.yaml
  duaro_description/config/ompl_planning.yaml
  duaro_description/config/planning_pipelines.yaml
  duaro_description/config/planning_scene_monitor_parameters.yaml
  duaro_description/config/trajectory_execution.yaml
  duaro_description/launch/duaro_isaac_ros.launch.py
  duaro_description/meshes/WD002N_A201L_J1_Ver2m.stl
  duaro_description/meshes/WD002N_A201U_J1_Ver2m.stl
  duaro_description/meshes/WD002N_A201_j0_Ver2m.stl
  duaro_description/meshes/WD002N_A201_j0_cover_Ver2m.stl
  duaro_description/meshes/WD002N_A202L_J2m.stl
  duaro_description/meshes/WD002N_A202L_J3_obstaclem.stl
  duaro_description/meshes/WD002N_A202L_J3m.stl
  duaro_description/meshes/WD002N_A202L_J4m.stl
  duaro_description/meshes/WD002N_A202U_J2m.stl
  duaro_description/meshes/WD002N_A202U_J3_obstaclem.stl
  duaro_description/meshes/WD002N_A202U_J3m.stl
  duaro_description/meshes/WD002N_A202U_J4m.stl
  duaro_description/meshes/WD002N_F502_Adjuster_pad.stl
  duaro_description/meshes/WD002N_F502_Cabinet_body.stl
  duaro_description/meshes/WD002N_F502_Cabinet_front_cover.stl
  duaro_description/meshes/WD002N_F502_Cart.stl
  duaro_description/meshes/WD002N_F502_LOGO_Kawasaki.stl
  duaro_description/meshes/WD002N_F502_LOGO_duAro.stl
  duaro_description/package.xml
  duaro_description/scripts/isaac_sim_duaro.py
  duaro_description/scripts/joint_state_reorder_duaro.py
  duaro_description/scripts/trajectory_bridge_duaro.py
  duaro_description/srdf/duaro.srdf
  duaro_description/urdf/duaro.urdf.xacro
Due: ament_lint_cmake, ament_copyright

fix: add write_enabled_ flag to manage write operations during lifecycle states
  khi_hardware/include/khi_hardware/khi_hardware_interface.hpp
  khi_hardware/src/khi_hardware_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: increase effort limits for RS/BX/BXP to prevent collapse in Gz
  khi_description/urdf/bx/khi_joint_link.xacro
  khi_description/urdf/bxp/khi_joint_link.xacro
  khi_description/urdf/rs/khi_joint_link.xacro
Due: ament_copyright

fix: enable fis_start_state to avoid START_STATE_INVALID on duAro2
  khi_moveit/config/planning_pipelines.yaml
Due: ament_copyright

fix: reduce memory growth during state transitions
  khi_hardware/include/khi_hardware/khi_publisher.hpp
  khi_hardware/include/khi_hardware/khi_service.hpp
  khi_hardware/src/khi_hardware_interface.cpp
  khi_hardware/src/khi_publisher.cpp
  khi_hardware/src/khi_service.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

feat: add Jazzy support
  .github/workflows/khi_ros2_cicd.yml
  README.md
  khi_description/urdf/bx/khi.ros2_control.xacro
  khi_description/urdf/bxp/khi.ros2_control.xacro
  khi_description/urdf/khi.gz.xacro
  khi_description/urdf/khi.urdf.xacro
  khi_description/urdf/rs/khi.ros2_control.xacro
  khi_description/urdf/wd/khi.ros2_control.xacro
  khi_gz/CHANGELOG.rst
  khi_gz/CMakeLists.txt
  khi_gz/launch/khi_gz.launch.py
  khi_gz/package.xml
  khi_hardware/include/khi_hardware/khi_hardware_interface.hpp
  khi_hardware/src/khi_hardware_interface.cpp
  khi_moveit/config/kinematics.yaml
  khi_moveit/config/planning_pipelines.yaml
  khi_moveit/config/wd/kinematics.yaml
  khi_moveit/launch/khi_moveit.launch.py
Due: ament_lint_cmake, ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$, but not: krnx.h
  ament_copyright: any file but: krnx.h
